{{ define "main" }}
    <p>Trying to understand the structural, ideological, and personal factors that govern the behaviour of policymakers and judges. My critical skills are law, writing, research, project management, and software. In a different life, I wrote a lot of software every day. In this one, I write a little software every week to help with my research.</p>

    <p>These days, I’m working at Vidhi on health policy and pharmaceutical regulation. Opinions expressed on this site are my own.</p>

    <h2>Find me</h2>
    <ul>
        <li>Twitter: <a href="https://twitter.com/annihalated">@annihalated</a></li>
        <li>Email: <a href="mailto:iamnihalsahu@gmail.com">iamnihalsahu@gmail.com</a></li>
        <li>Newsletter: <a href="https://nihalsahu.substack.com">Newsletter</a></li>
    </ul>
{{ end }}
