{{ define "main" }}
    <p>Trying to understand the structural, ideological, and personal factors that govern the behaviour of policymakers and judges. My critical skills are law, writing, research, project management, and software. In a different life, I wrote a lot of software every day. In this one, I write a little software every week to help with my research.</p>

    <p>These days, I’m working at Vidhi on health policy and pharmaceutical regulation.</p>

    <p>You can find me at:</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/annihalated">@annihalated</a></li>
        <li>Email: <a href="mailto:iamnihalsahu@gmail.com">iamnihalsahu@gmail.com</a></li>
    </ul>

    <h2>Start here</h2>
    <p>Inspired by <a href="https://twitter.com/patio11">@patio11</a>, I think it's a good idea for people to keep a list of their best public work. Most of my writing goes into my <a href="https://nihalsahu.substack.com">personal Substack</a> or <a href="https://anticanon.substack.com">Anticanon</a> (my law and policy Substack).</p>
    <h3>Law and public policy</h3>
    <ul>
        <h4>Religious freedom</h4>
        <li><a href="https://www.tandfonline.com/doi/abs/10.1080/24730580.2021.1941689">Inessential practices: charting a non-normative future for Indian religion jurisprudence</a> A paper about the philosophical problem of essentialism in the Supreme Court's essential religious practices test for Article 25. Coauthored with Sheerene Mohammed.</li>
        <li><a href="https://nihalsahu.substack.com/p/religious-freedom-reform-and-secularism">Religious Freedom, Reform, and Secularism</a> An essay about religion and the state in India. I discuss Article 25 of the Indian Constitution and focus in particular on clause 25(2)(b), which allows the Indian state to enact social reforms in ways that contradict sincerely-held religious beliefs. I also discuss the question of whether the reform clause and the right to religious freedom can coexist.</li>
        <h4>Public health</h4>
        <li><a href="https://nihalsahu.substack.com/p/health-spending">What's so hard about health spending?</a> I review Sujatha Rao's book on India's health system and write about why government health spending in India stays low.</li>
        <h4>Pharmaceutical regulation</h4>
        <li><a href="https://vidhilegalpolicy.in/research/comments-on-the-drugs-medical-devices-and-cosmetics-bill-2022/">Comments on the Drugs, Medical Devices and Cosmetics Bill, 2022</a> Submissions to the Ministry of Health and Family Welfare, Government of India; coauthored with Dhvani Mehta and Shreya Shrivastava.</li>
        <li><a href="https://www.deccanherald.com/opinion/panorama/a-missed-opportunity-new-drugs-bill-is-old-medicine-in-new-bottle-1149178.html">A missed opportunity: New drugs Bill is old medicine in new bottle</a> An op-ed in the Deccan Herald about the missed opportunities in the draft Drugs Bill, 2022.</li>
    </ul>
    <h3>The lawyer-brain canon</h3>
    <ul>
        <li><a href="https://nihalsahu.substack.com/p/the-second-best-is-a-formal-order">The Second Best is a Formal Order</a> A short response to the death of Queen Elizabeth II, trying to remind people that the rule of law is built on little more than a collective, delusional will.</li>
        <li><a href="https://nihalsahu.substack.com/p/tipping-the-odds">Tipping the Odds</a> A narrative essay on how law and interpretation works in practice, from the perspective of a cab aggregator company trying to evade price regulation.</li>
        <li><a href="https://nihalsahu.substack.com/p/against-lawyer-brain">Against Lawyer Brain</a> I discuss all the ways that the constraints of legal reasoning can make you worse at opinion-formation and decisionmaking, through my personal journey from law into public policy analysis.</li>
    </ul>
    <h3>Advice posts</h3>
    <ul>
        <li><a href="https://nihalsahu.substack.com/p/extremely-basic-productivity-advice">Extremely basic productivity advice</a> tl;dr; <em>Do the right things; You have to actually do them; There are also other things.</em> There's some advice on focus, picking the right problems, and avoiding distractions here.</li>
    </ul>
{{ end }}
