{{ define "main" }}
    <p>Trying to understand the structural, ideological, and personal factors that govern the behaviour of policymakers and judges. My critical skills are law, writing, research, project management, and software. In a different life, I wrote a lot of software every day. In this one, I write a little software every week to help with my research.</p>

    <p>These days, I’m working at Vidhi on health policy and pharmaceutical regulation.</p>

    <p>I have worked for: *[Vidhi](https://vidhilegalpolicy.in/)* (2022-present), *[Dialogue](https://thedialogue.co.in/)* (2020), and private clients (2021-). I've interned with: *[Supreme Court Observer](https://scobserver.in/)*, a retired Supreme Court Justice, an Advocate General, and other lawyers. Everything here should be considered my own opinion, taken at my risk, and not attributable to my past or present employers.</p>

    <h2>Find me</h2>
    <ul>
        <li>Twitter: <a href="https://twitter.com/annihalated">@annihalated</a></li>
        <li>Email: <a href="mailto:iamnihalsahu@gmail.com">iamnihalsahu@gmail.com</a></li>
        <li>Newsletter: <a href="https://nihalsahu.substack.com">Newsletter</a></li>
    </ul>
{{ end }}
