html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 16px;
}

body {
    max-width: 38rem;
    padding: 1rem 1rem;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
}

.header {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}

.header ul {
    list-style: none;
    display: block;
}

.header ul li {
    display: inline;
}

img {
    max-width:100%
}

blockquote {
    font-size: 16px;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.metadata-box {
    padding: 0.5rem;
    font-style: italic;
    border: 1px black dotted;
}


