html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 16px;
}

body {
    max-width: 38rem;
    padding: 1rem 1rem;
    margin: 0 auto;
}