html {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 16px;
}

body {
    max-width: 38rem;
    padding: 1rem 1rem;
    margin: 0 auto;
}

img {
    max-width:100%
}

span.mn {
    float:right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    /* font-size: 1.1rem; */
    /* line-height: 1.3; */
    vertical-align: baseline;
    position:relative
}

blockquote {
    font-size: 16px;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.toc {
    width: 14rem;
    float: left;
    margin: 0 0 0 -17rem;
    max-height: 100vh;
    overflow-y: auto;
    font-size: 14px;
}
